@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: linear-gradient(
    180deg,
    rgb(209, 238, 255) 0%,
    rgba(130, 130, 130, 0) 30rem
  );
  --cartBack: rgba(255, 255, 255, 0.38);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(----cartBack);
  background: var(--background-color);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  transition: all 300ms ease;
}
